force-app/main/default/flows/GenAI_Log_Meeting_Notes_and_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Tasks_from_Meeting_Notes</name>
        <label>Extract Tasks from Meeting Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>KS_Meeting_Notes_Tasks_Extractor</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Tasks_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:meetingNotes</name>
            <value>
                <elementReference>Structure_raw_notes.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>KS_Meeting_Notes_Tasks_Extractor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Tasks_JSON</name>
        <label>Parse Tasks JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TaskExtractorPromptTemplateParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_parsed_Task_Subjects</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonStrings</name>
            <value>
                <elementReference>Extract_Tasks_from_Meeting_Notes.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskExtractorPromptTemplateParser</nameSegment>
        <outputParameters>
            <assignToReference>parsedTaskSubjects</assignToReference>
            <name>Subjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Structure_raw_notes</name>
        <label>Structure raw notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>KS_Meeting_Notes_Structurer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Confirm_Prompt_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:rawMeetingNotes</name>
            <value>
                <elementReference>rawMeetingNotes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>KS_Meeting_Notes_Structurer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Raw_Meeting_Notes</name>
        <label>Assign Raw Meeting Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rawMeetingNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_Voice_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Structure_raw_notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Collection_Variable</name>
        <label>Assign to Task Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collection_tasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_tasksToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_parsed_Task_Subjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Single_Variable</name>
        <label>Assign to Task Single Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>single_tasksToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_parsed_Task_Subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_tasksToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_tasksToCreate.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_tasksToCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Task_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <description>Flow that logs meeting notes and tasks to a contact record by calling Prompt Templates to structure raw meeting notes and extract Tasks</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_MeetingTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Meeting Note - &quot; &amp; TEXT(MONTH(TODAY())) &amp; &quot;-&quot; &amp; TEXT(DAY(TODAY())) &amp; &quot;-&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>formula_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <interviewLabel>GenAI Log Meeting Notes and Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenAI Log Meeting Notes and Tasks</label>
    <loops>
        <name>Loop_on_parsed_Task_Subjects</name>
        <label>Loop on parsed Task Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>parsedTaskSubjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Task_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_Tasks_from_Meeting_Notes</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Content_Note.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Note</name>
        <label>Create Content Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Structure_raw_notes.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>formula_MeetingTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>collection_tasksToCreate</inputReference>
    </recordCreates>
    <screens>
        <name>Confirm_Prompt_Response</name>
        <label>Confirm Prompt Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Content_Note</targetReference>
        </connector>
        <fields>
            <name>Display_PromptResponse</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Structured Meeting Notes:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Structure_raw_notes.promptResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Log Notes and Tasks</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Voice_Notes</name>
        <label>Enter Voice Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Raw_Meeting_Notes</targetReference>
        </connector>
        <fields>
            <name>SC_Voice_Notes</name>
            <fieldText>Voice Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Agentforce has successfully logged a meeting note and created tasks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Voice_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_tasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>parsedTaskSubjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>single_tasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
