force-app/main/default/flows/MeetingNotesProcessor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Meeting_Notes_with_LLM</name>
        <label>Process Meeting Notes with LLM</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Meeting_Notes_Analyzer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Extract_Summary_from_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Meeting_Conversation</name>
            <value>
                <elementReference>conversationText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Meeting_Notes_Analyzer</nameSegment>
        <outputParameters>
            <assignToReference>llmResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Extract_Summary_from_Response</name>
        <label>Extract Summary from Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>meetingSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>llmResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meeting_Note_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>processingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>processingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>llmResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Flow-based Agentforce processor for meeting notes using LLM. This Flow processes natural language meeting notes and extracts structured insights using Agentforce with LLM.</description>
    <environments>Default</environments>
    <interviewLabel>Meeting Notes Processor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting Notes Processor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Meeting_Note_Record</name>
        <label>Create Meeting Note Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Conversation_Text__c</field>
            <value>
                <elementReference>conversationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>MeetingTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed_Notes__c</field>
            <value>
                <elementReference>llmResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_Meeting_Notes_with_LLM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Raw conversation data from Agentforce session</description>
        <name>conversationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fullPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Processed meeting notes from LLM</description>
        <name>llmResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the created Meeting Note record</description>
        <name>meetingNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>meetingSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Title or subject of the meeting</description>
        <name>MeetingTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the meeting participant or owner</description>
        <name>participantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processedInsights</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Status message indicating success or failure</description>
        <name>processingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rawNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systemPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>You are an expert meeting notes analyzer. Analyze the following meeting notes and provide structured insights in JSON format. Extract: 1. Key Action Items (who, what, when), 2. Decisions Made, 3. Key Topics Discussed, 4. Follow-up Items, 5. Important Dates/Deadlines, 6. Participants Mentioned, 7. Risks or Concerns, 8. Opportunities. Format your response as structured JSON with clear sections.</stringValue>
        </value>
    </variables>
</Flow>
